<div class="login-page">

  <!-- LEFT SIDE -->

  <div class="login-left">

    <div class="branding">

      <h1>
        Knowledge Hub
      </h1>

      <p>
        Organize your notes, collaborate with teams,
        and manage knowledge smarter.
      </p>

    </div>

  </div>

  <!-- RIGHT SIDE -->

  <div class="login-right">

    <mat-card class="login-card">

      <h2>
        Welcome Back
      </h2>

      <p class="subtitle">
        Login to continue
      </p>

      <form
        [formGroup]="loginForm"
        class="login-form">

        <!-- EMAIL -->

        <mat-form-field
          appearance="outline">

          <mat-label>
            Email
          </mat-label>

          <input
            matInput
            type="email"
            formControlName="email">

          <mat-icon matSuffix>
            email
          </mat-icon>

        </mat-form-field>

        <!-- PASSWORD -->

        <mat-form-field
          appearance="outline">

          <mat-label>
            Password
          </mat-label>

          <input
            matInput
            type="password"
            formControlName="password">

          <mat-icon matSuffix>
            lock
          </mat-icon>

        </mat-form-field>

        <!-- LOGIN BUTTON -->

        <button
          mat-raised-button
          color="primary"
          class="login-btn"
          (click)="onLogin()"
          [disabled]="loading">

          {{
            loading
            ? 'Logging in...'
            : 'Login'
          }}

        </button>

        <!-- DIVIDER -->

        <div class="divider">

          <span>
            OR
          </span>

        </div>

        <!-- GOOGLE LOGIN -->

        <button
          mat-stroked-button
          type="button"
          class="google-btn"
          (click)="loginWithGoogle()">

          <img
            src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
            alt="google">

          Continue with Google

        </button>

      </form>

      <!-- ERROR -->

      <p
        class="error"
        *ngIf="errorMessage">

        {{ errorMessage }}

      </p>

      <!-- REGISTER -->

      <p class="register-link">

        Don't have an account?

        <a routerLink="/auth/register">

          Create Account

        </a>

      </p>

    </mat-card>

  </div>

</div>